<!-- BEGIN menu -->
<div class="menu">
<ul>
	<li>{menu1}</li> <!-- Home -->
</ul>
</div>

<div class="menu">
<ul>
	<li>{menu2}</li> <!-- Contents -->
</ul>
</div>
<div class="submenu">
<ul>
	{menu2_sub1}
	{menu2_sub2}
	{menu2_sub3}
	{menu2_sub4}
</ul>
</div>

<div class="menu">
<ul>
	<li>{menu3}</li> <!-- Administration -->
</ul>
</div>
<div class="submenu">
<ul>
	{menu3_sub1}
	{menu3_sub2}
	{menu3_sub3}
	{menu3_sub4}
	{menu3_sub5}
	{menu3_sub6}
</ul>
</div>

<div class="menu">
<ul>
	<li>{menu4}</li> <!-- Security -->
</ul>
</div>
<div class="submenu">
<ul>
	{menu4_sub1}
	{menu4_sub2}
	{menu4_sub3}
	{menu4_sub4}
</ul>
</div>

<div class="menu">
<ul>
	<li>{menu5}</li> <!-- Tools -->
</ul>
</div>
<div class="submenu">
<ul>
	{menu5_sub1}
	{menu5_sub2}
	{menu5_sub3}
	{menu5_sub4}
	{menu5_sub5}
	{menu5_sub6}
</ul>
</div>
<!-- END menu -->