<!-- BEGIN home -->
{home_title}
<div id="content-inlay">
<br />
<table>
<tr>
	<td width="150">{home_picture}</td>
	<td>
	<p class='bold'>{home_firstname} {home_lastname}</p>
	<p>{home_birthday_title}: {home_birthday}</p>
	<p>{home_gender}</p>
	</td>
</tr>
</table>
<br />
<p class='bold'>{home_contact}</p>
<table>
<tr>
	<td width="150">{home_address1_title}</td>
	<td>{home_address1}</td>
</tr>
<tr>
	<td>{home_address2_title}</td>
	<td>{home_address2}</td>
</tr>
<tr>
	<td>{home_city_title}</td>
	<td>{home_city}</td>
</tr>
<tr>
	<td>{home_zip_code_title}</td>
	<td>{home_zip_code}</td>
</tr>
<tr>
	<td>{home_email_title}</td>
	<td>{home_email}</td>
</tr>
</table>
</div>
<!-- END home -->