<!-- BEGIN user -->
{user_title}
<div id="content-inlay">
{groups_error}

<form action="{groups_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{groups_name}</td>
			<td width="350">{groups_name_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_backend}</td>
			<td>{groups_backend_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_content}</td>
			<td>{groups_content_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_settings}</td>
			<td>{groups_settings_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_permissions}</td>
			<td>{groups_permissions_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_tools}</td>
			<td>{groups_tools_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{groups_demo}</td>
			<td>{groups_demo_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<br />
{groups_button_send}
</form>
</div>
<!-- END user -->