<!-- BEGIN user -->
{user_title}
<div id="content-inlay">
{user_error}

<form action="{user_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{user_group_id}</td>
			<td width="350">{user_group_id_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_page}</td>
			<td>{user_page_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_object_w}</td>
			<td>{user_object_w_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_object_d}</td>
			<td>{user_object_d_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<br />
{user_button_send}
</form>
</div>
<!-- END user -->