{template_doctype}

<html>
{template_header}

<body>

<div id="wrap">
	<p align="right"><a href="{template_url}"><img src="templates/default/images/logo.gif" alt="{template_title}" border="0" /></a></p>

	{template_content}

	<div id="wrap-footer">
	<p class="small">{template_copy}</p>
	<!--
	PLEASE DO NOT DELETE THE COPYRIGHT NOTICE! You will help us to make bloofoxCMS more popular.
	//-->
	<p class="small">Powered by <a href="http://www.bloofox.com">bloofoxCMS</a> &copy; 2012</p>
	</div>
</div>

</body>
</html>
