<!-- BEGIN home -->
<table border="0" width="100%">
<tr>
	<td valign="top">
	{home_text}
	<br />
	{home_next_step}
	</td>
	<td align="right" valign="top">
	<table width="380">
	<tr>
		<td colspan="2">
		{home_dir_title}
		</td>
	</tr>
	<tr>
		<td width="300" bgcolor="#eeeeee">{home_dir_admin}</td>
		<td>{home_dir_admin_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_languages}</td>
		<td>{home_dir_languages_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_media}</td>
		<td>{home_dir_media_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_files}</td>
		<td>{home_dir_files_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_images}</td>
		<td>{home_dir_images_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_txt}</td>
		<td>{home_dir_txt_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_plugins}</td>
		<td>{home_dir_plugins_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_system}</td>
		<td>{home_dir_system_status}</td>
	</tr>
	<tr>
		<td bgcolor="#eeeeee">{home_dir_templates}</td>
		<td>{home_dir_templates_status}</td>
	</tr>
	<tr>
		<td colspan="2">
		{home_dir_errors}
		</td>
	</tr>
	</table>
	</td>
</tr>
</table>
<!-- END home -->