{doctype}

<html>
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="AUTHOR" content="Alex Lang">
<meta name="COPYRIGHT" content="Alex Lang, bloofox.com">
<meta name="PUBLISHER" content="bloofoxCMS">
<meta name="TITLE" content="bloofoxCMS Install">
<link rel="stylesheet" type="text/css" href="templates/index.css">
</head>

<body>

<table width="100%" height="100%">
<tr>
	<td align="center">

	<table border="0" cellspacing="0" cellpadding="0" width="800">
	<tr>
		<td>
		<p><img src="templates/logo.gif" alt="bloofoxCMS" border="0" /></p>
		</td>
		<td>
		<p style="text-align: right">
		<a href="index.php?page={page}&amp;lang=de"><img src="images/de.gif" border="0" alt="Deutsch" /></a>
		<a href="index.php?page={page}&amp;lang=en"><img src="images/en.gif" border="0" alt="English" /></a>
		</p>
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<h1>{title}</h1>

		{content}
		</td>
	</tr>
	<tr>
		<td>
		<hr />

		<p class="small">Copyrights &copy; 1998-2008 bloofox.com, Alexander Lang</p>
		<!--
		PLEASE DO NOT DELETE THE COPYRIGHT NOTICE!
		If you need to place it anywhere else on your skin please copy
		the whole copyright text therefor.
		Thanks for your help to become bloofoxCMS more popular!
		-->
		<p class="small">Powered by <a href="http://www.bloofox.com">bloofoxCMS</a> - bloofoxCMS is free software licensed under the GNU General Public License.</p>
		</td>
	</tr>
	</table>

	</td>
</tr>
</table>

</body>
</html>
