<!-- BEGIN content -->
<div class="content">
{account_title}
<br />
{account_salutation}
<br />
<table class="card">
<tr>
	<td>{account_last_login_label}</td>
	<td>{account_last_login}</td>
</tr>
<tr>
	<td>{account_failed_logins_label}</td>
	<td>{account_failed_logins}</td>
</tr>
</table>
<br />
<h2>{account_profile}</h2>
<table class="card">
<tr>
	<td style="width: 150px;">{account_username_title}:</td>
	<td>{account_username}</td>
</tr>

<tr>
	<td>{account_firstname_title}:</td>
	<td>{account_firstname}</td>
</tr>
<tr>
	<td>{account_lastname_title}:</td>
	<td>{account_lastname}</td>
</tr>
<tr>
	<td>{account_email_title}:</td>
	<td>{account_email}</td>
</tr>
</table>
</div>
<!-- END content -->