<!-- BEGIN home -->
{home_title}
<div id="content-inlay">
{home_error}

<form action="{home_action}" method="post" enctype="multipart/form-data">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
	<table>
	<tr class="bg_color2">
		<td>{home_old_pw}</td>
		<td>{home_old_pw_input}</td>
	</tr>
	<tr class="bg_color2">
		<td>{home_new_pw}</td>
		<td>{home_new_pw_input}</td>
	</tr>
	<tr class="bg_color2">
		<td>{home_pw_confirm}</td>
		<td>{home_pw_confirm_input}</td>
	</tr>
	</table>
	</td>
</tr>
</table>

<br />
{home_button_send}	
</div>
</form>

</div>
<!-- END home -->