{content_title}
<div id="content-inlay">
{content_error}

<form action="{content_action}" method="post">
<!-- BEGIN content -->
<table>
<tr>
	<td class='bg_color2'>{content_header}</td>
</tr>
<tr>
	<td>{content_header_input}</td>
</tr>
<tr>
	<td class='bg_color2'>{content_text}</td>
</tr>
<tr>
	<td valign="top">{content_text_input}</td>
</tr>
<tr>
	<td class='bg_color2'>{content_page}</td>
</tr>
<tr>
	<td>{content_page_input}<br />
	{content_insert}</td>
</tr>
<tr>
	<td class='bg_color2'>{content_blocked}</td>
</tr>
<tr>
	<td>{content_blocked_input}</td>
</tr>
<tr>
	<td class='bg_color2'>{content_startdate}</td>
</tr>
<tr>
	<td>{content_startdate_input}</td>
</tr>
<tr>
	<td class='bg_color2'>{content_enddate}</td>
</tr>
<tr>
	<td>{content_enddate_input}</td>
</tr>
</table>
{content_eid}
{content_button_send}
<!-- END content -->
</form>
</div>