<!-- BEGIN settings -->
{settings_title}
<div id="content-inlay">
{tmpl_error}

<form action="{tmpl_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{tmpl_name}</td>
			<td width="350">{tmpl_name_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{tmpl_newname}</td>
			<td>{tmpl_newname_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{tmpl_be}</td>
			<td>{tmpl_be_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<br />
{tmpl_button_send}
</form>
</div>
<!-- END settings -->