{content_title}
<div id="content-inlay">
{content_error}

<form action="{content_action}" method="post">
<!-- BEGIN content -->
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
	<table>
	<tr class='bg_color2'>
		<td class="column">{content_header}</td>
		<td>{content_header_input}</td>
	</tr>
	<tr class='bg_color2'>
		<td>{content_text}</td>
		<td valign="top">
		{content_text_input}
		</td>
	</tr>
	<tr class='bg_color2'>
		<td>{content_page}</td>
		<td>{content_page_input}<br />
		{content_insert}</td>
	</tr>
	</table>
	</td>
</tr>
</table>
</div>

<div id="options">
<table class="card">
<tr class="bg_color3">
	<td class="tab"><ul><li class="toggle" onclick="show_hide_layers('options','','hide','options_closed','','show');"><span>{tab_options}</span></li></ul></td>
</tr>
<tr class='bg_color2'>
	<td>
	<table>
	<tr class='bg_color2'>
		<td class="column">{content_blocked}</td>
		<td>{content_blocked_input}</td>
	</tr>
	<tr class='bg_color2'>
		<td>{content_startdate}</td>
		<td>{content_startdate_input}</td>
	</tr>
	<tr class='bg_color2'>
		<td>{content_enddate}</td>
		<td>{content_enddate_input}</td>
	</tr>
	</table>
	</td>
</tr>
</table>
</div>

<div id="options_closed">
<table class="card">
<tr class="bg_color3">
	<td class="tab"><ul><li onclick="show_hide_layers('options_closed','','hide','options','','show');"><span>{tab_options}</span></li></ul></td>
</tr>
</table>
</div>

<br />
{content_button_send}
<!-- END content -->
</form>
</div>