<!-- BEGIN settings -->
{settings_title}
<div id="content-inlay">
{charset_error}

<form action="{charset_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{charset_name}</td>
			<td width="350">{charset_name_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{charset_desc}</td>
			<td>{charset_desc_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<br />
{charset_button_send}
</form>
</div>
<!-- END settings -->