<!-- BEGIN settings -->
{settings_title}
<div id="content-inlay">
{lang_error}

<form action="{lang_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{lang_name}</td>
			<td width="350">{lang_name_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{lang_flag}</td>
			<td>{lang_flag_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{lang_filename}</td>
			<td>{lang_filename_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{lang_date}</td>
			<td>{lang_date_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{lang_datetime}</td>
			<td>{lang_datetime_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{lang_token}</td>
			<td>{lang_token_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
<br />
{lang_lid}
{lang_button_send}
{lang_button_reset}
</form>
</div>
<!-- END settings -->