<!-- BEGIN settings -->
{settings_title}
<div id="content-inlay">
{media_error}

<form action="{media_action}" method="post" enctype="multipart/form-data">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{media_filename}</td>
			<td width="350">{media_filename_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{media_type}</td>
			<td>{media_type_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
{media_type_old}
{media_file}
{media_button_send}
</form>
</div>
<!-- END settings -->