<!-- BEGIN tools -->
{tools_title}
<div id="content-inlay">
{tools_error}
{confirm_message}

<form action="{tools_action}" method="post" enctype="multipart/form-data">
<table class="list">
<tr class='bg_color3'>
	<td width="150"></td>
	<td></td>
</tr>
<tr class='bg_color2'>
	<td>{tools_folder}</td>
	<td>{tools_folder_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_image}</td>
	<td>{tools_image_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_file1}</td>
	<td>{tools_file1_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_file2}</td>
	<td>{tools_file2_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_file3}</td>
	<td>{tools_file3_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_file4}</td>
	<td>{tools_file4_input}</td>
</tr>
<tr class='bg_color2'>
	<td>{tools_file5}</td>
	<td>{tools_file5_input}</td>
</tr>
</table>
<br />
{tools_button_send}
</form>
</div>
<!-- END tools -->