<!-- BEGIN tools -->
{tools_title}
<div id="content-inlay">
{confirm_message}
<table class='list'>
<tr class="bg_color3">
	<td><p class="bold">{tools_activity_name}</p></td>
	<td><p class="bold">{tools_action_name}</p></td>
</tr>
<tr class="bg_color2">
	<td>{tools_optimize}</td>
	<td>{tools_optimize_action}</td>
</tr>
<tr class="bg_color2">
	<td>{tools_inactive_users}</td>
	<td>{tools_inactive_users_action}</td>
</tr>
<tr class="bg_color2">
	<td>{tools_deleted_users}</td>
	<td>{tools_deleted_users_action}</td>
</tr>
<tr class="bg_color2">
	<td>{tools_sessions}</td>
	<td>{tools_sessions_action}</td>
</tr>
</table>
</div>
<!-- END tools -->