<!-- BEGIN user -->
{user_title}
<div id="content-inlay">
{user_error}

<form action="{user_action}" method="post">
<div id="general">
<table class="card">
<tr class="bg_color3">
	<td class="tab">{tab_general}</td>
</tr>
<tr class='bg_color2'>
	<td>
		<table>
		<tr class='bg_color2'>
			<td width="150">{user_username}</td>
			<td width="350">{user_username_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_password}</td>
			<td>{user_password_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_pwdconfirm}</td>
			<td>{user_pwdconfirm_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_groups}</td>
			<td>{user_groups_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_blocked}</td>
			<td>{user_blocked_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_deleted}</td>
			<td>{user_deleted_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_status}</td>
			<td>{user_status_input}</td>
		</tr>
		<tr class='bg_color2'>
			<td>{user_page}</td>
			<td>{user_page_input}</td>
		</tr>
		</table>
	</td>
</tr>
</table>
</div>
{user_uid}
<br />
{user_button_send}
{user_button_reset}
</form>
</div>
<!-- END user -->